{% extends "scout/layout.html" %}
{% block title %}{{activity.title}}{% endblock %}

{% block body %}
    <div class="mb-3 p-3 bg-light rounded shadow-sm">
      <div class="row border-bottom">
        <div class="col">
          <h2 class="pb-2 mb-0">
            Activity details
          </h2>
        </div>
        <div class="col-auto">
        {% if user.is_authenticated %}
        <button
            data-activity-likes="{{activity.likes.count}}" 
            data-activity-liked="{{activity.logged_user_likes_activity}}" 
            data-activity-id={{activity.id}} 
            class="p-1 btn btn-link like-button"
        >
            <i class="bi {{activity.logged_user_likes_activity|yesno:'bi-star-fill,bi-star'}}"></i>
        </button>
        {% endif %}
        </div>
      </div>
      <div class="like-button-div text-end">

    </div>  
      <div class="container my-2 p-2 bg-body">
        <div class="row border-bottom mt-4">
          <div class="col-lg-3"><strong>Title:</strong></div>
          <div class="col-lg-9">
            <strong class="fs-5">
              {{activity.title}}
            </strong>
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Age Range:</strong>
          </div>
          <div class="col-lg-9 text-color-{{ activity.age_range|first|lower}}">
            {{activity.age_range}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Activity location:</strong>
          </div>
          <div class="col-lg-9">
            {{activity.location}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Educational goals:</strong>
          </div>
          <div class="col-lg-9">
            {{activity.educational_goals}} - {{activity.get_educational_goals_display}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Activity duration:</strong>
            <p class="text-body-secondary fs-6">(in minutes)</p>
          </div>
          <div class="col-lg-9">
            {{activity.duration}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Required materials:</strong>
          </div>
          <div class="col-lg-9">
            {{activity.required_materials |default:"-"}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Method:</strong>
          </div>
          <div class="col-lg-9">
            {{activity.method}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Game mode:</strong>
          </div>
          <div class="col-lg-9">
            {{activity.game_mode}}
          </div>
        </div>
        <div class="row border-bottom mt-4">
          <div class="col-lg-3">
            <strong>Is this activity suitable for disabled?</strong>
          </div>
          <div class="col-lg-9">
            {% if activity.is_suitable_for_disabled %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
        </div>
        {% if request.user == activity.user %}
        <div class="row mt-4 text-end">
          <div class="col">
            <a href="{% url 'edit_activity' activity.id %}" class="btn btn-primary mb-2">Edit activity</a>
            <a href="{% url 'delete_activity' activity.id %}" class="btn btn-danger mb-2">Delete activity</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% if similar_activities %}
    <div class="my-3 p-3 bg-light rounded shadow-sm">
      <h2>Similar activities</h2>
      <div class="container">
        {% for activity in similar_activities %}
          {% include "scout/activity-card-small.html" %}
        {% endfor %}
      </div>
  </div>
  {% endif %}
{% endblock %}