<!-- activity card small -->
<div class="d-flex text-body-secondary pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect class="{{ activity.age_range|first|lower}}" width="100%" height="100%" fill="#007bff"/>
        <text x="50%" y="50%" fill="#ffffff" dy=".3em">{{ activity.age_range|first|upper}}</text>
    </svg>
    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
    <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">{{ activity.title }}</strong>
        <a href="/activity/{{activity.id}}">more info</a>
    </div>
    <div class="tags">
        <a class="tag" href="{% url 'tag' tag=activity.location %}"><i class="bi bi-tag"></i>{{ activity.location_name }}</a>
        <a class="tag" href="{% url 'tag' tag=activity.game_mode %}"><i class="bi bi-tag"></i>{{ activity.game_mode_name }}</a>
        {% if activity.is_suitable_for_disabled %}
        <a class="tag" href="{% url 'tag' tag='is_suitable_for_disabled' %}"><i class="bi bi-tag"></i>suitable for disabled</a>
        {% endif %}
    </div>
    <div class="text-end like-button-div">
        <button
            data-activity-likes="{{activity.likes.count}}" 
            data-activity-liked="{{activity.logged_user_likes_activity}}" 
            data-activity-id={{activity.id}} 
            class="p-1 btn btn-link like-button"
        >
            <i class="bi {{activity.logged_user_likes_activity|yesno:'bi-star-fill,bi-star'}}"></i>
            <span class="h6 likes"></span>
        </button>
    </div>
    </div>
</div>
<!-- activity card small END -->