{% extends "scout/layout.html" %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h2>Latest</h2>
      <small class="d-block text-end border-bottom ">
          <a href="{% url 'latest' %}">More</a>
      </small>
      <div class="container">
        {% for activity in latest_activities %}
          {% include "scout/activity-card.html" %}
        {% endfor %}
      </div>

    </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h2>Popular</h2>
          <small class="d-block text-end border-bottom ">
          <a href="{% url 'popular' %}">More</a>
      </small>
      <div class="container">
        {% for activity in popular_activities %}
          {% include "scout/activity-card-small.html" %}
        {% endfor %}
      </div>
  </div>
{% endblock %}