{% extends "scout/layout.html" %}

{% block body %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h2 class="border-bottom pb-2 mb-0">Latest</h2>
      <div class="container">
        <!-- render activities dinamically -->
        {% include "scout/activity-card.html" %}
      </div>

    </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h2 class="border-bottom pb-2 mb-0">Popular</h2>
    <!-- render popular dinamically -->
    {% include "scout/activity-card-small.html" %}
  </div>
{% endblock %}