{% extends "scout/layout.html" %}
{% block title %}New activity{% endblock %}

{% block body %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h2 class="pb-2 mb-0">New activity</h2>
  <form action="{% url 'new_activity' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{field.label_tag}}
          {{field}}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
{% endblock %}