<div class="container">
  <div class="nav-scroller border-bottom">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" href="#">Tags:</a>
      <a class="nav-link" href="#">
        Outdoor
        <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Indoor</a>
      <a class="nav-link" href="#">Suggestions</a>
      <a class="nav-link" href="#">Team</a>
      <a class="nav-link" href="#">Unit</a>
      <a class="nav-link" href="#">Single</a>
      <a class="nav-link" href="#">In-person</a>
      <a class="nav-link" href="#">Online</a>
    </nav>
  </div>
</div>