{% extends "scout/layout.html" %}

{% block body %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <small class="d-block text-end mt-3">
          <a href="{% url 'tags' %}">All tags</a>
      </small>
      <h2 class="border-bottom pb-2 mb-0"><i class="bi bi-tag"></i> {{ tag|capfirst }}</h2>
      <div class="container">
        {% if activities.object_list %}
          {% for activity in activities.object_list %}
              {% include "scout/activity-card.html" %}
          {% endfor %}
        {% else %}
          <p class="p-2">Nessuna attività disponibile per questo tag.</p>
        {% endif %}
      </div>
    </div>
{% endblock %}